/* This code lines implies: the styling of the ul frame, wich holds the displayed
pokemon information buttons inside */
.pokemon-list{
	text-align: center;
}

/* This code lines implies: the styling of the headline */
h1 {
	text-align: center;
}

/* This code lines implies: the positoning of the pokemon information buttons */
.pokemon-list>li {
	text-align: center;
}

/* This code lines implies: the default styling of the pokemon information
buttons */
.pokemon-Button-Style {
	width: 450px;
	border: none;
	background-color: #FBF6F3;
	color: black;
	padding: 16px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin: 4px 2px;
	transition-duration: 0.3s;
	cursor: pointer;
}
.pokemon-Button-Style:hover {
	background-color: black;
	color: white;
}

/* This code lines implies: an individual color styling and behavior of coler
changing by hover over each single pokemon information button */
.pokemon-color-type {
	border: 4px solid #FFCA3A;
}
.pokemon-color-type:hover {
	background-color: #FFCA3A;
	color: black;
}

/* This code lines implies: the scroll functionality of the page */
main {
	text-align: center;
	padding: 20px;
}

/* this css comment is needed,
to make sure that we have a padding between <main> part and <footer>;
when ther is an overflow(-y): auto (scrolling option) */
section::after {
	content: "";
	display: block;
	height: 20px;
	width: 100%;
}

@media (max-width:480px) {
	.pokemon-Button-Style {
		width: 100%;
	}
}

/*START: Pokemon button style based on their types*/
/* BUG pokemon */
.bug-pokemon {
	border: 4px solid #43AA8B;
}
.bug-pokemon:hover {
	background-color: #43AA8B;
	color: white;
}
/* DARK pokemon */
.dark-pokemon {
	border: 4px solid #3D405B;
}
.dark-pokemon:hover {
	background-color: #3D405B;
	color: white;
}
/* DRAGON pokemon */
.dragon-pokemon {
	border: 4px solid #577590;
}
.dragon-pokemon:hover {
	background-color: #577590;
	color: white;
}
/* ELECTRIC pokemon */
.electric-pokemon {
	border: 4px solid #F9C74F;
}
.electric-pokemon:hover {
	background-color: #F9C74F;
	color: black;
}
/* FAIRY pokemon */
.fairy-pokemon {
	border: 4px solid #F94144;
}
.fairy-pokemon:hover {
	background-color: #F94144;
	color: white;
}
/* FIGHTING pokemon */
.fighting-pokemon {
	border: 4px solid #9d0208;
}
.fighting-pokemon:hover {
	background-color: #9d0208;
	color: white;
}
/* FIRE pokemon */
.fire-pokemon {
	border: 4px solid #e85d04;
}
.fire-pokemon:hover {
	background-color: #e85d04;
	color: white;
}
/* FLYING pokemon */
.flying-pokemon {
	border: 4px solid #2c7da0;
}
.flying-pokemon:hover {
	background-color: #2c7da0;
	color: white;
}
/* GHOST pokemon */
.ghost-pokemon {
	border: 4px solid #6d597a;
}
.gost-pokemon:hover {
	background-color: #6d597a;
	color: white;
}
/* GRASS pokemon */
.grass-pokemon {
	border: 4px solid #90BE6D;
}
.grass-pokemon:hover {
	background-color: #90BE6D;
	color: black;
}
/* GROUND pokemon */
.ground-pokemon {
	border: 4px solid #723d46;
}
.ground-pokemon:hover {
	background-color: #723d46;
	color: white;
}
/* ICE pokemon */
.ice-pokemon {
	border: 4px solid #caf0f8;
}
.ice-pokemon:hover {
	background-color: #caf0f8;
	color: black;
}
/* NORMAL pokemon */
.normal-pokemon {
	border: 4px solid #edddd4;
}
.normal-pokemon:hover {
	background-color: #edddd4;
	color: black;
}
/* POISON pokemon */
.poison-pokemon {
	border: 4px solid #973aa8;
}
.poison-pokemon:hover {
	background-color: #973aa8;
	color: white;
}
/* PSYCHIC pokemon */
.psychic-pokemon {
	border: 4px solid #d55d92;
}
.psychic-pokemon:hover {
	background-color: #d55d92;
	color: white;
}
/* ROCK pokemon */
.rock-pokemon {
	border: 4px solid #6c584c;
}
.rock-pokemon:hover {
	background-color: #6c584c;
	color: white;
}
/* STEEL pokemon */
.steel-pokemon {
	border: 4px solid #5e6472;
}
.steel-pokemon:hover {
	background-color: #5e6472;
	color: white;
}
/* WATER pokemon */
.water-pokemon {
	border: 4px solid #bdd5ea;
}
.water-pokemon:hover {
	background-color: #bdd5ea;
	color: black;
}
/*END: Pokemon button style based on their types*/
